.swiper-slide, .firstPage, .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github {
  margin-right:5px;
}

.App, .firstPage {
  height: 100%;
}

.stress {
  color: rgb(186,44,27);
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  color: rgb(186,44,27);
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

a:visited {
  color: rgb(186,44,27);
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

.mb5 {
  margin-bottom: 5px;
}
.mb20 {
  margin-bottom: 20px;
}
.saveSuccess {
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.avatar {
  width:100px;
}

p {
  margin: 2px;
  color: rgb(168, 81, 0);
  font-size: 16px;
}

h4, li {
  color: rgb(168, 81, 0);
  font-size: 16px;
}

span {
  font-size:16px;
}

button span {
  font-size:14px;
}

img {
  box-shadow: 0 0 0 rgb(168, 81, 0),
   0 0 0 rgb(168, 81, 0),
   1px 1px 5px rgb(168, 81, 0),
   1px 1px 5px rgb(168, 81, 0);
  width: 200px;
}